  * {
      padding: 0;
      margin: 0;
      font-family: 'Bebas Neue', cursive;
  }



  .menu {
      display: inline-block;
      width: 100%;
      background: rgb(251, 123, 76);

      text-align: center;
      display: inline-block;

      padding-top: 20px;
      padding-bottom: 20px;

  }

  .menu .productos {
      float: left;
      display: block;
      padding-left: 10px;
      padding-right: 10px;
  }

  .menu .pr_derecha {
      display: block;
      float: right;
      padding-left: 10px;
      padding-right: 10px;
  }

  .li-izquierda {
      margin-left: 20px;
  }


  .li-derecha {
      margin-right: 20px;
  }

  #fuente {
      color: rgba(20, 2, 2, 0.938);
      font-size: 18px;
      text-decoration: none;
  }

  #fuente:hover {
      color: rgb(251, 251, 251);
      transition: 0.2s;
  }

  i {
      margin-right: 5px;
  }

  /*Estilo de vercarrito.php*/
  body {
      width: 100%;
      position: relative;
  }

  .h2-carrito {
      color: black;
      display: block;
      text-align: center;

  }


  #bttn-comprar {
      text-decoration: none;
      padding: 5px;
      text-align: center;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      transition-duration: 0.4s;
      cursor: pointer;
      background-color: white;
      color: black;
      border: 2px solid coral;
      
      

  }

  .eliminar {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white;
    color: black;
    border: 2px solid coral;
    background-color: indianred;
  }

  .eliminar:hover {
      background-color: #f44336;
      color: white;
  }

  #bttn-comprar:hover {
      background-color: #f44336;
      color: white;
  }

  .tabla-carrito {
      border-collapse: collapse;
      width: 50%;
      text-align: center;
      margin: auto;
      border: 3px double black;
      height: 150px;
      vertical-align: bottom;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      position: absolute;
  }

  .cth {
      background-color: coral;
  }

  .cthtotal {
      border: 1px solid black;
  }

  .ctd {
      border: 1px solid black;
      font-family: 'Roboto', sans-serif;
  }