
.h1index{
    text-align: center;
    color: rgba(0, 0, 0, 0.904);
}
.h2index{
    color: rgba(0, 0, 0, 0.904);
    text-align: center;
}
.h3index{
    color: rgba(0, 0, 0, 0.904);
    text-align: center;
}
.usercolor{
    color: coral;
}
.slider{
    width: 60%;
    margin: auto;
    overflow: hidden;
}
.slider ul{
    padding: 0;
    display: flex;
    width: 200%;
    animation: cambio 20s infinite;
}
.slider li{
    list-style: none;
    width: 100%;
}
.slider img{
    width: 100%;
}
@keyframes cambio {
    0% {margin-left:0;}
    20% {margin-left:0;}

    25% {margin-left:-100%;}
    45% {margin-left:-100%;}



}